<!DOCTYPE html>
<html>
<head>
  <title>TrackSiteRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/menu' %>
<div class="ui main text container">
  <%= render 'layouts/notice' %>
  <%= yield %>
</div>

</body>
</html>
